<html>
    <head>
        <title>Sergei's blog</title>
    </head>
    <body>
        <div>
           <h1><a href="/">Sergei's blog</a></h1>
        </div>

        <div>
            <p>published: 13.06.2023, 21:43</p>
            <h2><a href="">My furst post</a></h2>
            <p>Я вешу 93кг. Безработный. Двигаюсь в нужном направлении.</p>
        </div>

        <div>
            <p>published: 13.06.2023, 21:51</p>
            <h2><a href="">My second post</a></h2>
            <p>Я думаю все ещё мой вес 93 кг и я все ещё безработный.</p>
        </div>
    </body>
</html>